html{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#game{
    background-color: grey;
    display: flex;
    flex-direction: row;
}

#game-settings{
    display: flex;
    flex-direction: column;
    font-size: 0.6vw;
}
#settings-title{
    font-size:1.1vw;
    margin-inline: 0.1vw;
}
.settings{
    margin-bottom: 0.5vw;
}

#reset{
    color:red;
}

#grid-size{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.size-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25px;
    height: 25px;
}
#grid-size-text, #snake-speed-text{
    width: 75px;
    height: 19px;
    font-size: 11.5px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#snake-speed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#window-size{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid black;
    background-color: #f1f1f1;
  }